body {
  margin: 0;
  padding: 0;
}

.myNav {
  background-color: #f065ad;
  border: none;
  margin-top: 20px;
}

.myNav .navbar-brand,
.myNav .navbar-nav > li > a {
  color: white;
}

.myNav .navbar-nav > li > a:hover {
  background-color: #d94b96;
  color: white;
}

.parallax {
  background-image: url("https://codehs.com/uploads/16fccae5e14fae77c9131a961a5be3ce");
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

.bio-content {
  text-align: center;
  padding: 50px 20px;
}

nav li:hover {
  background-color: pink;
  transform: scale(1.1);
}


.site-footer {
  background-color: #f065ad;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.site-footer a {
  color: white;
  text-decoration: underline;
}

.site-footer a:hover {
  color: #ffd1e8;
  
}




.bio-images {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.bio-images img {
  width: 200px;
  height: auto;
  margin: 10px;
}



html {
  scroll-behavior: smooth;
}

.projects-content {
  text-align: center;
  padding: 40px 20px;
}

.project-links {
  margin: 30px 0;
}

.project-links a {
  display: inline-block;
  background-color: #f065ad;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 8px;
  text-decoration: none;
}

.project-links a:hover {
  background-color: #d94b96;
  color: white;
}

.project {
  margin: 80px auto;
  padding: 30px 20px;
  max-width: 900px;
}

.project img {
  width: 350px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.project p {
  font-size: 18px;
  margin-top: 15px;
}
.button-container {
  display: flex;
  background-color: #f54990;
  width: 250px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin: 15px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}
